* {
    font-family: Garamond;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
}

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #f0f7ff;
}

h1, h2, h3 {
    color: #1f3b5b; 
}

h1 {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 0;
}

h2 {
    font-size: 1.2em;
    font-weight: 300;
    margin-bottom: 0;
}

h3 {
    font-size: 1em;
    font-weight: 600;
    margin: 0;
}

a {
    color: #3c82a6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dde8fe;
}

#header-container {
    margin: 2vh;
}

.settings-container {
    background-color: #ffffff;
    border: 2px solid #d0e3f8;
    border-radius: 10px;
    display: flex;
    width: 100%;
    padding: 0.25em;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.setting{
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin: 1em 2em;
}

.setting-item-container {
    display: flex;
    margin-top: 1em;
    flex-direction: row;
}
.setting-item {
    color: #1f3b5b;
    margin: 0 0.75em;
    cursor: pointer;
    padding: 0.5em 1em;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.setting-item:hover {
    background-color: #1f3b5b;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.setting-item.active {
    background-color: #3c82a6; /* Interaction color */
    color: white; /* Contrast color during interaction */
}

.active-button {
    background-color: #d0e3f8 !important; /* Light red for active state */
}

#canvas {
    aspect-ratio: 16 / 9;
    height: 60vh;

    overflow: scroll;
    background-color: white;
}